$main-color-blue: #1c69d3;
$main-color-blue-light: #accbe1;
$main-color-blue-lighter: #cee5f2;
$main-color-blue-lightest: #e8f0fb;
$main-color-blue-dark: #1654a9;
$main-background-color-blue: #d2e1f6;
$btn-light-blue: #bbd2f2;
$btn-main-color: #8eb4e9;
$color-dark-green: #12664f;
$color-orange: #f58a07;
$color-orange-darker: #935304;
$text-color-dark-grey: #333;
$text-color-light-grey: #555;
$text-color-white: #fff;
