/* 1344 px */
@media (max-width: 84em) {
  .section-hero > .hero {
    max-width: 110rem;
  }
  .primary-heading {
    font-size: 4rem;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56%;
  }

  .header {
    padding: 0;
  }
  .secondary-heading {
    font-size: 3.6rem;
  }
  .third-heading {
    font-size: 2.4rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .hero {
    gap: 4.8rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
  .hero-img {
    width: 100%;
  }
}
/* 992px */
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }
  .header__logo {
    height: 4.5rem;
  }
  .section-hero > .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-hero > .hero > .hero__img > .hero-img {
    width: 60%;
  }

  .section-recommended .recommended-items .item-title {
    font-size: 2rem;
  }
  .section-table .full-table {
    grid-template-columns: 1fr;
  }
  .section-table > .container > .full-table > .testimonials,
  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-customer-service .customer-service-wrapper {
    display: flex;
    flex-direction: column;
  }

  .item-photo {
    width: 100%;
  }
  .item-specs {
    list-style: none;
  }
  .item {
    box-shadow: none;
  }
}
/* 864px */
@media (max-width: 54em) {
  .header .header__nav__list .main-nav-link {
    font-size: 1.6rem;
  }
  .header__nav__list li a:link,
  .header__nav__list li a:visited {
    font-size: 1.6rem;
  }
  .section-recommended .recommended-items {
    grid-template-columns: 1fr;
  }
  .section-recommended .recommended-items .item {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    margin: 0 auto 10rem auto;
  }
  .table {
    overflow-x: scroll;
  }
}
/* 736px */
@media (max-width: 48em) {
  .header .toggle-button {
    display: flex;
  }
  .header__logo {
    height: 8.5rem;
    width: 50%;
  }
  .header {
    position: relative;
  }
  .header__nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    /* background-color: #1c69d3; */
    background-color: #e8f0fb;
    animation-name: animatie-meniu;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 0 0;
  }
  .header__nav__list.show {
    display: block;
    text-align: center;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    /* rotate: 3.1416rad; */
  }
  .header__nav__list li ul {
    position: relative;
    width: 100%;
  }
  header nav > ul > li:hover::before {
    opacity: 0;
  }
}

@keyframes animatie-meniu {
  from {
    transform: rotate(-90deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
