<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="keywords"
      content="phone, tablet, samsung, apple, technology, huawei, new phone, newest phone, newest iphone, android, ios, smartwatch, gadgets"
    />
    <meta name="description" content="Official mobile phone retailer." />
    <%- include("../fragments/head") %>
    <title>BestPhone</title>
  </head>
  <body>
    <%- include("../fragments/header") %>
    <main>
      <div class="container">
        <div class="story">
          <h2 class="despre-h2">Our story</h2>
          <p class="despre-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptates, quod, quia, voluptatibus quae voluptatem quibusdam
            voluptatum quos quidem quas nesciunt. Quisquam, quae. Quisquam
            voluptates, quod, quia, voluptatibus quae voluptatem quibusdam
            voluptatum quos quidem quas nesciunt. Quisquam, quae.
          </p>
        </div>
        <div class="about">
          <h2 class="despre-h2">About us</h2>
          <p class="despre-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptates, quod, quia, voluptatibus quae voluptatem quibusdam
            voluptatum quos quidem quas nesciunt. Quisquam, quae. Quisquam
            voluptates, quod, quia, voluptatibus quae voluptatem quibusdam
            voluptatum quos quidem quas nesciunt. Quisquam, quae.
          </p>
        </div>
      </div>
      <hr class="box" />
      <%- include("../fragments/galerie-statica.ejs") %>
      <div id="imagine">
        <h2 class="despre-h2"></h2>
      </div>
      
        <div id="text">Efect reflexie
        <div id="text-reflectat">Efect reflexie</div>
      </div>
      
    </main>

    <%- include("../fragments/footer") %>
  </body>
</html>
