<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="keywords"
      content="phone, tablet, samsung, apple, technology, huawei, new phone, newest phone, newest iphone, android, ios, smartwatch, gadgets"
    />
    <meta name="description" content="Official mobile phone retailer." />
    <%- include("../fragments/head") %>
    <title>BestPhone</title>
  </head>
  <body>
    <%- include("../fragments/header") %>
    <main>
      <div class="container-galerie">
        <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
          <img
            class="image"
            src="https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            draggable="false"
          />
          <img
            class="image"
            src="https://images.unsplash.com/photo-1605787020600-b9ebd5df1d07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1301&q=80"
            draggable="false"
          />
          <img
            class="image"
            src="https://images.unsplash.com/photo-1609177336889-4e69aa3b1ff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            draggable="false"
          />
          <img
            class="image"
            src="https://images.unsplash.com/photo-1542128010-1b9f98317dd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fE1vYmlsZSUyMFBob25lfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            draggable="false"
          />
          <img
            class="image"
            src="https://images.unsplash.com/photo-1604279982016-cfe381925510?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            draggable="false"
          />
          <img
            class="image"
            src="https://images.unsplash.com/photo-1660120122148-cd6061b11192?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
            draggable="false"
          />
          <img
            class="image"
            src="https://images.unsplash.com/photo-1560209617-059c0bd661ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
            draggable="false"
          />
          <img
            class="image"
            src="https://images.unsplash.com/photo-1467007849282-42dad96c2312?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            draggable="false"
          />
        </div>
      </div>
    </main>
    <%- include("../fragments/footer") %>
  </body>
</html>
