<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="keywords"
      content="phone, tablet, samsung, apple, technology, huawei, new phone, newest phone, newest iphone, android, ios, smartwatch, gadgets"
    />
    <meta name="description" content="Official mobile phone retailer." />
    <%- include("../fragments/head") %>
    <title>BestPhone</title>
  </head>
  <body>
    <%- include("../fragments/header") %>
    <main>
      <h1>A2-a pagina</h1>
    </main>
    <%- include("../fragments/footer") %>
  </body>
</html>
