<header class="header">
  <!-- <nav class="navbar">
    <div id="navbarid" class="navbar-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </a>
</nav>
  
  </header> -->
  <nav class="header__nav">
    <img
      class="header__logo"
      src="resurse/images/logo.png"
      alt="BestPhone Logo"
    />

    <ul class="header__nav__list">
      <li class="dropdown">
        <a class="main-nav-link" href="#">Home</a>
        <ul class="ul-size-fix">
          <li>
            <a class="main-nav-link-dropdown" href="#best-deals">Deals</a>
          </li>
          <li><a class="main-nav-link-dropdown" href="#FAQ">FAQ</a></li>
        </ul>
      </li>
      <li><a class="main-nav-link" href="#">Phone/Tablets</a></li>
      <li class="dropdown">
        <a class="main-nav-link" href="#">Gadgets</a>
        <ul>
          <li>
            <a class="main-nav-link-dropdown" href="#best-deals">Smartwatch</a>
          </li>
          <li>
            <a class="main-nav-link-dropdown" href="#FAQ">Portable Battery</a>
          </li>
        </ul>
      </li>
      <li><a class="main-nav-link" href="#">Locations</a></li>
      <li><a class="main-nav-link" href="#">About</a></li>
    </ul>
  </nav>
  <a href="#" class="toggle-button">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </a>
</header>
