.container {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 110rem;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.container.container-big {
  max-width: 130rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
